/* .App component styling. Note: .App.js is the parent component*/
.App {
    width: 100vw;
    display: flex;
    flex-direction: column;
}




/* .Header.js component styling*/
.header {
    width: 100vw;
    background-color: rgb(77, 77, 255);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 0px;
    z-index: 1;
}
    .title {
        margin: 0px;
    }
    .navLinks1 {
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 4px;
    }
        .profileDiv {
            display: flex;
            flex-direction: row;
        }
            .profileName {
                margin-left: 10px;
                display: flex;
                margin-bottom: 0px;
                margin-top: 0px;
            }
        .homeIcon {
            width: 25px;
            height: auto;
            margin-right: 5px;
            color: white;
            }
            .homeIcon:hover {
                color: rgb(255, 123, 0);
                cursor: pointer;
            }
            .homeIcon:active {
                color: rgb(186, 84, 0);
            }

        .profileIcon {
            width: 23px;
            height: auto;
            margin-left: 5px;
            color: white;
        }
            .profileIcon:hover {
                color: rgb(255, 123, 0);
                cursor: pointer;
            }
            .profileIcon:active {
                color: rgb(186, 84, 0);
            }
    
    .navLinks2 {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        font-weight: bold;
    }
        .about, .contact {
            padding: 5px;
            display: flex;
            color: white;
        }
        .aboutLink, .contactLink {
            text-decoration: none;
        }
        
        .about:hover, .contact:hover {
            color: rgb(255, 123, 0);
            cursor: pointer;
        }
        .about:active, .contact:active {
            color: rgb(186, 84, 0);
        }   




/* .main div styling*/
.main {
    background-color: rgb(223, 223, 253);
    min-height: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
}
    .mainRouteDisplay {
        display: flex;
        width: 80vw;
        justify-content: center;
        align-items: center;
        padding-top: 55px;
    }





/* Home.js component styling (other than parent)  */
.homePageMessage, .homePageWelcome {
    display: flex;
    text-align: center;
}





/* Sidebar.js component styling */
.sideBar {
    border: 1px solid rgb(205, 208, 255);
    background-color: aliceblue;
    width: 25vw;
    max-width: max-content;
    min-width: fit-content;
    height: inherit;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .sideBarTitle {
        margin-top: 95px;
        margin-bottom: 0px;
        color: rgb(77, 77, 255);
    }
    .buttons {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 10px;
    }
        .sideBarButton {
            background-color: white;
            color: rgb(77, 77, 255);
            font-weight: bold;
            font-size: 14px;
            border: 1px solid rgb(77, 77, 255);
            border-radius: 3px;
            margin: 10px;
            min-width: 250px;
            box-shadow: 0px 1px 3px gray;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 15px;
            padding-right: 15px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .sideBarButton:hover {
            color: white;
            background-color: rgb(77, 77, 255);
        }
        .sideBarButton:active {
            color: white;
            background-color: rgb(61, 61, 255);
            box-shadow: none;
        }




/* .Footer.js component styling*/
.footer {
    width: 100vw;
    background-color: rgb(223, 223, 253);
    color: rgb(135, 141, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid rgb(205, 208, 255);
    font-size: 12px;
    z-index: 1;
    position: relative;
}
    .footerContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 20px;
                
    }
        .copyrightText, .copyrightLogo, .copyrightDate {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 5px;
        }
        .backToTop {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: center;
            margin-right: 20px;
        }
            .backToTopText {
                margin-top: 5px;
                margin-bottom: 5px;
                margin-left: 5px;
            }
            .upArrow {
                margin-top: 5px;
                margin-bottom: 5px;
                margin-left: 5px;
                width: 15px;
                height: auto;
            }
                .backToTop:hover {
                    color: rgb(255, 123, 0);
                    cursor: pointer;
                    font-weight: bolder;
                }
                .backToTop:active {
                    color: rgb(186, 84, 0);
                }




/* Home.js component styling */
.home {
    color: rgb(77, 77, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*box-shadow: 0px 0px 6px lightgray;*/
    padding: 20px;
    border-radius: 5px;
    /*background-color: rgb(233, 233, 255);*/
}
    .homePageMessage {
        font-size: 18px;
    }




/* Registration.js component styling */
.registrationForm {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 2px gray;
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 255);
    height: fit-content;
    margin-bottom: 30px;
}
    .registrationFormQuestions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 14px;
        color: rgb(51, 51, 51);
        margin: 20px;
    }
    .labelInputGroup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
        .checkExIcons {
            margin-left: 5px;
        }
            .FaCheck {
                color: green;
            }
            .FaTimes {
                color: red;
            }
            .uidnote {
                margin-top: 3px;
                margin-bottom: 0px;
                display: flex;
                flex-direction: row;
                border: 1px solid blue;
                border-radius: 5px;
                color: white;
                background-color: rgb(77, 77, 255);
                padding: 5px;
            }
                .uidnoteIcon {
                    margin-right: 5px;
                    align-items: center;
                    padding-left: 2px;
                    padding-top: 3px;
                    
                }
                .uidnoteText {
                    margin: 0px;
                }
        .inputLabel {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 10px;
        }
        .registrationSubmitButton {
            border: 1px solid rgb(77, 77, 255);
            border-radius: 3px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 3px;
            padding-bottom: 3px;
            box-shadow: 0px 1px 3px gray;
            background-color: white;
            color: rgb(77, 77, 255);
            font-weight: bold;
            margin-top: 10px;
        }
        .registrationSubmitButton:disabled {
            border: 1px solid gray;
            border-radius: 3px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 3px;
            padding-bottom: 3px;
            background-color: lightgray;
            color: gray;
            box-shadow: none;
            font-weight: 400;
            margin-top: 10px;
        }
        .registrationSubmitButton:disabled:hover {
            border: 1px solid gray;
            border-radius: 3px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 3px;
            padding-bottom: 3px;
            background-color: lightgray;
            color: gray;
            box-shadow: none;
            font-weight: 400;
            margin-top: 10px;
        }
            .registrationSubmitButton:hover {
                color: white;
                background-color: rgb(77, 77, 255);
            }
            .registrationSubmitButton:active {
                color: white;
                background-color: rgb(61, 61, 255);
                box-shadow: none;
            }
        .linkToAuthP {
            margin: 0px;
        }





/* RESPONSIVENESS */
@media screen and (max-width: 1300px) {
     
}
@media screen and (max-width: 1000px) {
           
}
@media screen and (max-width: 700px) {
    .header {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }  
        .title {
            font-size: 18px;
        }
        .navLinks1 {
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;
        }
            .homeIcon {
                width: 15px;
                height: auto;
            }
            .profileIcon{
                width: 15px;
                height: auto;
            }
            .headerHomeLink, .headerProfileLink {
                padding: 0px;
                display: flex;
            }
        .navLinks2 {
            font-size: 12px;
        }
    .main {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

        .mainRouteDisplay {
            padding: 20px;
        }

    .sideBar {
        width: 100vw;
        max-width: 100vw;
        min-width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .sideBarTitle {
            margin-top: 30px;
            font-size: 14px;
        } 
        .sideBarButton {
            font-size: 12px;
            margin: 2px;
            width: 80vw;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 15px;
            padding-right: 15px;
        } 

.registrationForm {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 2px gray;
    padding: 5px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 255);
}
    .registrationFormQuestions {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        color: rgb(51, 51, 51);
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
        .inputLabel {
            display: flex;
            flex-direction: column;
            margin: 5px;
            font-size: 12px;
        }
        
    }